%h4 Available Folders
%i click name to show all pics in folder
.list
  - if @list.empty?
    %p There are no folders to show; select something to load.
  - else
    .column
      %ul
        - @list.each do |f|
          %li= link_to f.fname, f
