%h3 Select a folder to load into Gallery
= form_with url: folder_loadphotos_path do |f|
  = f.label(:folder, 'Select folder:&emsp;'.html_safe)
  = f.select(:folder, @folders)
  = f.submit "Load&raquo;".html_safe
