%h4= @folder.name 
%i click thumbnail to select
- @folder.photos.each do |p|
  .thumbnail
    %a{ href: url_for(p)}
      %img{ :src => public_fn(p.filename), :class => 'image', :alt => "#{p.photo_dsc}" }
    = link_to p.photo_dsc, p

