%h4= @folder.name 
%i Click thumbnail to see photo
.thumbnails
  %dl
    - @folder.photos.each do |p|
      %dt
        %img{ :src => p.filename, :class => 'image', :alt => "#{p.photo_dsc}" }
      %dd= p.photo_dsc
      - break

